
@{
    ViewBag.Title = "CatchCode";
}
<h2>Users</h2>
<ul id="users">

    @*@foreach (var user in ViewBag.userList)
    {
        <li>@user.displayName</li>
    }*@
</ul>
<h2>OneDrive for Business Response</h2>
<p>@ViewBag.skyResponse</p>